.guide-header {
  background-color: #c59494;
}

.guide-background1 {
  background-image: url(/public/backgrounds/guideBackground1.svg);
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.rabbits {
  padding-top: 13%;
  padding-left: 2%;
}

.content1 {
  padding-top: 62%;
  padding-left: 20%;
}

.content2 {
  padding-top: 24%;
  padding-left: 20%;
}

.guide-background2 {
  background-image: url(/public/backgrounds/guideBackground2.svg);
  height: 2620px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
}

.to-content {
  position: fixed;
  bottom: 5%;
  right: 4%;
}
