body {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;

  width: 100%;

  font-family: "Nanum Gothic";

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #192536;
  padding-right: 10px;
  padding-left: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.navbar-logo a {
  padding-left: 10px;
  font-family: "Gafata";
  font-size: 20px;
}

.navbar-logo img {
  width: 50px;
  height: 50px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  padding-left: 0px;
  padding-right: 80px;
  margin: 0;
}

.navbar-menu li {
  font-size: 25px;
  padding: 5px 20px;
}

#name:hover {
  color: #ffd700;
}

#map:hover {
  color: #f54f51;
}

#guide:hover {
  color: #4d93fc;
}

.navbar-icon {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

#btn-github {
  background: none;
  border: none;
}

.navbar-icon li {
  padding-left: 0;
  padding: 5px 40px;
}

.navbar-toggleBtn {
  position: absolute;
  top: 18px;
  right: 32px;
  font-size: 24px;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-icon {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar-toggleBtn {
    display: block;
  }
  .navbar-menu.active,
  .navbar-icon.active {
    display: flex;
  }
}
