body {
  margin: 0;
}

.navbar {
  width: 100%;
  height: 70px;

  font-family: "Nanum Gothic";

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-logo {
  padding-left: 20px;
  list-style: none;
}

.navbar-logo a svg {
  padding-top: 5px;
  width: 80px;
  height: 35px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  padding-left: 0px;
  padding-right: 20px;
}

.navbar-menu li {
  font-size: 25px;
  padding: 0 30px;
}

#map:hover {
  color: #f54f51;
}

#guide:hover {
  color: #4d93fc;
}

.navbar-icon {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.navbar-icon button {
  background: none;
  border: none;
}

.navbar svg {
  width: 100px;
  height: 50px;
}

.navbar-icon li {
  padding-left: 0;
}
