#main-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-header {
  background-color: #192536;
  width: 100%;
  height: 70px;
}

.p-mainpage {
  text-align: center;
}

.p-mainpage p {
  margin: 0;
}

#p-webname {
  padding-top: 120px;
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 130px;
  color: white;
}

#red {
  color: #ed3233;
}

#blue {
  color: #3e85f9;
}

#p-webexplain {
  font-family: "NanumGothic";
  font-weight: 600;
  font-size: 50px;
  color: white;
  padding-top: 30px;
}
