.mapBackground2 {
  background-image: url(/public/images/mapBackground.png);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.show-level {
  text-align: center;
  font-family: "NanumGothic";
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  list-style: none;
  font-size: 60px;
  font-weight: 700;
  font-family: "Gafata";
  margin: 0;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

td {
  height: 70px;
  border: 3px solid #fff;
  color: white;
  text-align: center;
  font-size: 26px;
}

td:nth-child(4) {
  width: 35%;
}

#td-youtube {
  width: 15%;
}

#btn-workshop {
  color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 40px;
  line-height: 30px;
  border-radius: 40px;
}

#icon-workshop {
  color: #1e3050;
  text-align: center;
}

#btn-youtube {
  background-color: red;
  color: white;
  width: 80px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  line-height: 25px;
}

.off td {
  color: #5bee6a;
}

input#check-map {
  display: inline-block;
  width: 30px;
  height: 20px;
}

.link-map {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Nanum Gothic";
  font-size: 30px;
}

.link-map a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 7px;
}

.link-map a:hover {
  background: none;
  font-size: 0;
}

.link-map a:hover::before {
  content: "다음단계로";
  font-size: 30px;
}
