#map-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
table td {
  width: 25%;
  height: 70px;
  border: 1px solid #ccc;
  color: white;
  text-align: center;
  font-size: 26px;
}

table td:first-child {
  width: 10%;
}

h1 {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
}

.show-level {
  text-align: center;
  font-family: "NanumGothic";
  font-weight: 400;
  font-size: 50px;
  margin-left: -30px;
  margin-top: -10px;
}

.show-level li {
  font-size: 60px;
  font-weight: 700;
  font-family: "Gafata";
}
