#map-background {
  width: 100%;
  height: 750px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-btn {
  position: fixed;
  padding-top: 30px;
  padding-left: 40px;
}

#p-logo {
  position: absolute;
  font-family: "Nanum Gothic";
  font-size: 17px;
  opacity: 0;
  display: none;
}

.home-btn img {
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 10px;
}

.home-btn img:hover {
  transform: scale(1.2);
}

.home-btn:hover #p-logo {
  display: block;
  opacity: 1;
}

.div-userLevel-explain {
  text-align: center;
  font-family: "NanumGothic";
  font-size: 50px;
  font-weight: 600;
  padding-top: 70px;
  margin-bottom: 70px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 42px #0fa;
}

.user-level {
  margin-top: 20px;
  width: 1160px;
  list-style: none;
  margin-left: 30px;
}

.user-level li {
  width: 100%;
  height: 60px;
  padding-bottom: 40px;
  display: table;
  line-height: 30px;
  color: white;
}

.user-level a {
  display: block;
  width: 100px;
  height: 20px;
  padding: 20px;
  font-weight: bold;
  font-family: "NanumGothic";
  color: #fff;
  border: 2px solid white;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: dodgerblue;
  margin-left: 230px;
}

.user-level a:hover {
  transform: scale(1.2);
}

.user-level div {
  font-family: "NanumGothic";
  margin: 0;
  font-size: 20px;
  width: 720px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}
