.map-header {
  background-color: #1b1b1b;
  width: 100%;
  height: 70px;
}

.mapBackground1 {
  background-image: url(/public/backgrounds/mapBackground.svg);
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div-userLevel-explain {
  text-align: center;
  font-family: "NanumGothic";
  font-size: 3.75rem;
  font-weight: 600;
  padding-top: 90px;
  margin-bottom: 70px;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 42px #0fa;
}

.user-level {
  padding-top: 20px;
  padding-left: 0;
  margin: 0 auto;
  width: 900px;
  list-style: none;
}

.user-level li {
  width: 100%;
  height: 60px;
  padding-bottom: 45px;
  display: table;
  line-height: 30px;
  color: white;
}

.user-level a {
  display: block;
  width: 85px;
  height: 18px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 20px;

  font-weight: bold;
  font-family: "NanumGothic";
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: dodgerblue;
}

#a1 {
  background-color: #4d93fc;
}
#a2 {
  background-color: #ffd700;
}
#a3 {
  background-color: #ff4a4a;
}
#a4 {
  background-color: #553830;
}
#a5 {
  background-color: #3c3c3c;
}

.user-level a:hover {
  transform: scale(1.1);
}

.user-level div {
  font-family: "NanumGothic";
  font-size: 1.25rem;
  width: 720px;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  margin-left: 10px;
}
