#p-webname {
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 8rem;
  color: white;

  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top: 27.5%;
  animation: webname 1s ease-out 0s forwards;
}

@keyframes webname {
  from {
    left: 40%;
    opacity: 0;
  }
  to {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
  }
}

#red {
  color: #ed3233;
}

#blue {
  color: #3e85f9;
}

#p-webexplain {
  font-family: "NanumGothic";
  font-weight: 300;
  font-size: 3.2rem;
  color: white;

  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  top: 39%;
  animation: webexplain 1s ease-in-out 0.8s forwards;
  opacity: 0;
}

@keyframes webexplain {
  from {
    top: 45%;
    opacity: 0;
  }
  to {
    top: 39%;
    opacity: 1;
  }
}
