.compass {
  position: absolute;
  top: 223%;
  left: 20%;
  z-index: 1;
}

.compass-in {
  position: absolute;
  top: 233.2%;
  left: 22.8%;
  transition: all ease 3s;
  z-index: 2;
}

.compass-in:hover {
  transform: rotate(360deg);
}

#p-main2 {
  position: absolute;
  top: 217%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  font-family: "NanumGothic";
  font-weight: 800;
  font-size: 4rem;
  color: #f54f51;
}

.p-make {
  position: absolute;
  top: 230%;
  left: 42.2%;

  font-family: "NanumGothic";
  font-weight: lighter;
  font-size: 1.75rem;
  line-height: 1.25rem;
  animation: p-make 1s ease-out;
}

@keyframes p-make {
  from {
    opacity: 0;
    left: 50.5%;
  }
  to {
    opacity: 1;
    left: 43%;
  }
}

.p-make-hidden {
  position: absolute;
  top: 230%;
  left: 41.5%;
  opacity: 0;

  font-family: "NanumGothic";
  font-weight: lighter;
  font-size: 28px;
  line-height: 20px;
  animation: p-make-hidden 1s ease-out;
}

@keyframes p-make-hidden {
  from {
    opacity: 1;
    left: 41.5%;
  }
  to {
    opacity: 0;
    left: 50.5%;
  }
}

#span-red {
  color: #f54f51;
}
