.main-header {
  width: 100%;
  height: 70px;
  background-color: #222031;
}

body {
  background-image: url(/public/images/mainBackground.png);
  height: 780px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#line1 {
  position: absolute;
  top: 210%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

#line2 {
  position: absolute;
  top: 1980px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
