#p-main1 {
  position: absolute;
  top: 128%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  font-family: "NanumGothic";
  font-weight: bolder;
  font-size: 5rem;
  color: #3e85f9;
}

.btn-data1-hidden {
  position: absolute;
  top: 157%;
  left: 24%;

  border: none;
  background-color: white;
  animation: data1-hidden ease-out 1s forwards;
}

@keyframes data1-hidden {
  from {
    left: 24%;
    opacity: 1;
  }
  to {
    left: 15%;
    opacity: 0;
  }
}

.btn-data1 {
  position: absolute;
  top: 157%;
  left: 24%;

  border: none;
  background-color: white;
  animation: data1 ease-in-out 1s;
}

@keyframes data1 {
  from {
    left: 15%;
    opacity: 0;
  }
  to {
    left: 24%;
    opacity: 1;
  }
}

#dataLine {
  position: absolute;
  top: 177%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.btn-data2-hidden {
  position: absolute;
  top: 160%;
  left: 57%;

  border: none;
  background-color: white;
  animation: data2-hidden ease-out 1s forwards;
}

@keyframes data2-hidden {
  from {
    left: 57%;
    opacity: 1;
  }
  to {
    left: 65%;
    opacity: 0;
  }
}

.btn-data2 {
  position: absolute;
  top: 160%;
  left: 57%;

  border: none;
  background-color: white;
  animation: data2 ease-in-out 1s;
}

@keyframes data2 {
  from {
    left: 65%;
    opacity: 0;
  }
  to {
    left: 57%;
    opacity: 1;
  }
}
