.main-header {
  width: 100%;
  height: 70px;
  background-color: #292637;
}

.main-background {
  background-image: url(/public/backgrounds/mainBackground.svg);
  height: 920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.line1 {
  position: absolute;
  top: 210%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.line2 {
  position: absolute;
  top: 1980px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
