#p-main3-1 {
  position: absolute;
  top: 2050px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  font-family: "NanumGothic";
  font-size: 48px;
}

#p-main3-1-bold {
  font-size: 58px;
  font-weight: bold;
  color: #36ad57;
  margin: 20px 0px;
}

#p-main3-2 {
  position: absolute;
  top: 2180px;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  margin: 0;
  font-family: "NanumGothic";
  font-size: 48px;
}

.arrows {
  position: absolute;
  top: 2430px;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);
}

.official-icon-hidden {
  position: absolute;
  top: 2300px;
  left: 21%;

  animation: icon1-hidden ease-out 1s forwards;
}

@keyframes icon1-hidden {
  from {
    left: 21%;
    opacity: 1;
  }
  to {
    left: 19%;
    opacity: 0;
  }
}

.official-icon {
  position: absolute;
  top: 2300px;
  left: 21%;

  animation: icon1 ease-in-out 1s forwards 0s;
}

@keyframes icon1 {
  from {
    left: 19%;
    opacity: 0;
  }
  to {
    left: 21%;
    opacity: 1;
  }
}

.crown-icon-hidden {
  position: absolute;
  top: 2300px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);

  animation: icon2-hidden ease-in-out 1s forwards;
}

@keyframes icon2-hidden {
  from {
    left: 50%;
    opacity: 1;
  }
  to {
    left: 48%;
    opacity: 0;
  }
}

.crown-icon {
  position: absolute;
  top: 2300px;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);

  animation: icon2 ease-in-out 1s forwards 0.5s;
  opacity: 0;
}

@keyframes icon2 {
  from {
    left: 48%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

.custom-icon-hidden {
  position: absolute;
  top: 2300px;
  left: 64%;

  animation: icon3-hidden ease-in-out 1s forwards;
}

@keyframes icon3-hidden {
  from {
    left: 64%;
    opacity: 1;
  }
  to {
    left: 62%;
    opacity: 0;
  }
}

.custom-icon {
  position: absolute;
  top: 2300px;
  left: 64%;

  animation: icon3 ease-in-out 1s forwards 1s;
  opacity: 0;
}

@keyframes icon3 {
  from {
    left: 62%;
    opacity: 0;
  }
  to {
    left: 64%;
    opacity: 1;
  }
}

.whitespace {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 2670px;
}
