@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gafata&display=swap");

/*
font-family: 'Nanum Gothic';
font-family: 'Fredoka';
font-family: 'Gafata';
*/
